Repository KAU2024-SANHAK/SANHAK_Client, pull requests merged in 2024-08, with the labels that each got.

#224 Refactor/#223 onboarding funnel refactoring
  src/assets/img/onBoardingStep1.png
  src/assets/img/onBoardingStep2.png
  src/assets/img/onBoardingStep3.png
  src/assets/img/onBoardingStep4.png
  src/assets/img/onboardingStep1.webp
  src/assets/img/onboardingStep2.webp
  src/assets/img/onboardingStep3.webp
  src/assets/img/onboardingStep4.webp
  src/components/OnBoardingSteps/OnBoardingStep.style.js
  src/components/OnBoardingSteps/OnBoardingStep1.jsx
  src/components/OnBoardingSteps/OnBoardingStep2.jsx
  src/components/OnBoardingSteps/OnBoardingStep3.jsx
  src/components/OnBoardingSteps/OnBoardingStep4.jsx
  src/components/OnBoardingSteps/OnBoardingStep5.jsx
  src/components/OnBoardingSteps/OnBoardingStep6.jsx
  src/components/OnBoardingSteps/title/Caption.jsx
  src/components/OnBoardingSteps/title/SubTitle.jsx
  src/components/OnBoardingSteps/title/Title.jsx
  src/components/OnBoardingSteps/title/Title.style.js
  src/components/common/StepPrgoress/StepProgress.jsx
  src/components/common/StepPrgoress/StepProgress.style.js
  src/components/common/buttons/Next/BtnNext.jsx
  src/components/common/buttons/Next/BtnNext.style.js
  src/components/common/buttons/complete/BtnComplete.jsx
  src/hooks/common/useFunnel.jsx
  src/pages/OnBoarding/OnBoarding.jsx
  src/pages/OnBoarding/OnBoarding.style.js
Labels: refactor

#230 [style] 허니어리 소개 페이지 style 수정
  src/pages/Information/Information.jsx
  src/pages/Information/Information.style.js
  src/pages/Start/Start.jsx
  src/pages/Start/Start.style.js
Labels: 시작페이지, style

#226 [refactor] 일기 작성 버튼 수정
  src/assets/svg/ICFastWriteButton.jsx
  src/assets/svg/IcCreateButton.jsx
  src/assets/svg/IcFastCreateButton.jsx
  src/assets/svg/IcSlowCreateButton.jsx
  src/assets/svg/IcSlowWriteButton.jsx
  src/assets/svg/IcWriteDiaryButton.jsx
  src/assets/svg/index.js
  src/components/common/buttons/DiaryType/BtnDiaryType.style.js
  src/components/common/buttons/DiaryType/BtnFastDiary.jsx
  src/components/common/buttons/DiaryType/BtnSlowDiary.jsx
  src/components/common/buttons/WriteDiaryButton/WriteDiaryButton.jsx
  src/components/common/buttons/WriteDiaryButton/WriteDiaryButton.style.js
  src/pages/Main/Main.jsx
  src/pages/Main/Main.style.js
  src/pages/OnBoarding/OnBoarding.jsx
  src/styles/theme.js
Labels: feat, 메인페이지, refactor, style
